{% extends "layout/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-header bg-dark text-white">Victim Details</div>
        <div class="card-body">
            <h5 class="card-title">{{ object.id }}</h5>
            <p class="card-text">Name: {{ object.first_name}} {{ object.last_name}}</p>
            <p class="card-text">Age: {{ object.age }}</p>
            <p class="card-text">Gender: {{ object.gender }}</p>
            <p class="card-text">Pickup Location: {{ object.pickup_location }}</p>
            <p class="card-text">Pickup Date: {{ object.pickup_date }}</p>
            <p class="card-text">Description: {{ object.description }}</p>

            {% if images %}
            <div class="mt-4">
                <h5>Existing Images:</h5>
                {% for image in images %}
                    <img src="{{ image.image.url }}" class="img-thumbnail" width="200" height="200">
                {% endfor %}
            </div>
            {% endif %}
            <a href="{% url 'victims:index' %}" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}
