{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% block content %}

    <div class="container" >
      <div class="row row-cols-1 row-cols-lg-3 ">
        <div class="col" style="margin-top: 50px;">
	      <div class="card" style="width: 18rem;">
          <img src="/media/victim.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Victim Form</h5>
            <p class="card-text">Form to add new victim details.</p>
            <a href="victims/index" class="btn btn-primary">Add victim</a>
          </div>
        </div>
        </div>
        <div class="col" style="margin-top: 50px;">
        <div class="card" style="width: 18rem;">
          <img src="/media/volunteer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volunteer Form</h5>
            <p class="card-text">Form to add new volunteer details.</p>
            <a href="volunteers/index" class="btn btn-primary">Add volunteer</a>
          </div>
          </div>
        </div>
        <div class="col" style="margin-top: 50px;">
          <div class="card" style="width: 18rem;">
            <img src="/media/ngo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">NGO Form</h5>
              <p class="card-text">Add new NGO details.</p>
              <a href="home/index" class="btn btn-primary">Add NGO</a>
            </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container" >
      <div class="row row-cols-1 row-cols-lg-3 ">
        <div class="col" style="margin-top: 50px;">
	      <div class="card" style="width: 18rem;">
          <img src="/media/victims_view.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">View All Victims</h5>
            <p class="card-text">View all victims details.</p>
            <a href="victims/victimsglobalview" class="btn btn-primary">View All Victims</a>
          </div>
        </div>
        </div>
        <div class="col" style="margin-top: 50px;">
        <div class="card" style="width: 18rem;">
          <img src="/media/volunteers_view.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">View All Hospital</h5>
            <p class="card-text">View all hospital details.</p>
            <a href="hospital/index" class="btn btn-primary">Hospital</a>
          </div>
          </div>
        </div>
        <div class="col" style="margin-top: 50px;">
          <div class="card" style="width: 18rem;">
            <img src="/media/timeline_tree.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Personal Timeline</h5>
              <p class="card-text"> View Your Recent Changes </p>
              <a href="timeline/personal" class="btn btn-primary">View Timeline</a>
            </div>
            </div>
          </div>
        </div>
    </div>
    <div id="timelineContent"></div>
    <script>
      $(document).ready(function() {
          // Attach a click event to the "View Timeline" button
          $('#viewTimelineBtn').on('click', function(e) {
              e.preventDefault(); // Prevent the default link behavior
  
              // Make an AJAX request to fetch and load the personal timeline content
              $.ajax({
                  url: "{% url 'timeline:personal_timeline' %}",
                  method: 'GET',
                  success: function(data) {
                      // Replace the content of a target element with the fetched data
                      $('#timelineContent').html(data);
                  },
                  error: function(error) {
                      console.error('Error:', error);
                  }
              });
          });
      });
  </script>
{% endblock %}